<BeReVeACL>
	<instances>
		<object class="world.Person">
			<id>mallory</id>
			<attr name="name" type="val">Mallory</attr>
			<attr name="partner" type="ref">carol</attr>
			<!--<attr name="freunde" type="val"></attr>
			<attr name="konto" type="val"></attr>-->
		</object>
		<object class="world.Person">
			<id>carol</id>
			<attr name="name" type="val">Carol</attr>
			<attr name="partner" type="ref">mallory</attr>
			<!--<attr name="freunde" type="val"></attr>
			<attr name="konto" type="val"></attr>-->
		</object>
		<!--<object class="world.Stadt"  GlobalContext="true">
			<id>123456</id>
		</object>-->
	</instances>
	<permissions>
		<permission>
			<target scope="class">world.Person</target>
			<methods>*</methods>
			<caller scope="instance">
				<class>world.Stadt</class>
				<instanceID>123456</instanceID>
			</caller>
		 </permission>
		 <permission>
			<target scope="instance">
				<class>world.Person</class>
				<instanceID>mallory</instanceID>
			</target>
			<methods>
				<method>doSex</method>
				<method>getKonto</method>
			</methods>
			<caller scope="instance">
				<class>world.Person</class>
				<instanceID>carol</instanceID>
			</caller>
		 </permission>
	 </permissions>
</BeReVeACL>