<acl>
	<instances>
		<object class="person">
			<id>mallory</id>
			<attr name="name">{'mallory'}</attr>
			<attr name="partner">{'carol'}</attr>
			<attr name="freunde">{}</attr>
			<attr name="konto">{}</attr>
		</object>
		<object class="person">
			<id>carol</id>
			<attr name="name">{'carol'}</attr>
			<attr name="partner">{'mallory'}</attr>
			<attr name="freunde">{}</attr>
			<attr name="konto">{}</attr>
		</object>
	
		<object class="stadt">
			<id>123456</id>
		</object>
	
	
	</instances>

	<permission>
		<target scope="class">Person</target>
		<method>*</method>
		<caller scope="instance">Stadt$123456</caller>
	 </permission>
	 
	 <permission>
		<target scope="instance">Person$Mallory</target>
		<method>doSex</method>
		<method>getKonto</method>
		<caller scope="instance">Person$Carol</caller>
	 </permission>
</acl>