<BeReVeACL>
	<instances>
		<object class="world.Person">
			<id>mallory</id>
			<attr name="name">Mallory</attr>
			<attr name="partner"><ref id="carol"/></attr>
			<attr name="freunde"></attr>
			<attr name="konto"></attr>
		</object>
		<object class="world.Person">
			<id>carol</id>
			<attr name="name">Carol</attr>
			<attr name="partner"><ref id="mallory"/></attr>
			<attr name="freunde"></attr>
			<attr name="konto"></attr>
		</object>
		<object class="world.Stadt"  GlobalContext="true">
			<id>123456</id>
		</object>
	</instances>
	<permissions>
		<permission>
			<target scope="class">Person</target>
			<methods>*</methods>
			<caller scope="instance">
				<class>Stadt</class>
				<instanceID>123456</instanceID>
			</caller>
		 </permission>
		 <permission>
			<target scope="instance">
				<class>Person</class>
				<instanceID>mallory</instanceID>
			</target>
			<methods>
				<method>doSex</method>
				<method>getKonto</method>
			</methods>
			<caller scope="instance">
				<class>Person</class>
				<instanceID>carol</instanceID>
			</caller>
		 </permission>
	 </permissions>
</BeReVeACL>